name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: false
        tags: kubsh:${{ github.sha }}  # ⬅️ Используем одно имя
        load: true  # ⬅️ Важно! Загружаем образ локально
        
    - name: Run tests
      run: |
        echo "Running container..."
        docker run --rm kubsh:${{ github.sha }}  # ⬅️ То же самое имя
